<!-- <div class="catGroup" id="bestPic" data-head-category="Best Picture">
<% json.oscarnoms.forEach(function(item, i) { %>
  <% if(item.Category == "Best Picture") { %>
  <div class="completeEntry">
  <div class="img">
    <img src="assets/nompics/<%= item.img_id %>.jpg"/>
    <div class="knockout"><div class="perVotes"></div></div>
  </div>
  <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
    <% if(item.crit_pics) { %>
      <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Pick</div>
    <% } %>
      <div class="title justTitle" data-item-title="<%= item.Title %>"><%= item.Title %></div>
  </div>
  </div>
  <% } %>
<% }) %>
</div>-->

<h2 class="pollHeads">Best Actor Nominees <span class="numVotes"></span></h2>
<div class="catGroup" id="bestActor" data-head-category="Best Actor">
<% json.oscarnoms.forEach(function(item, i) { %>
  <% if(item.Category == "Best Actor") { %>
  <div class="completeEntry">
  <div class="img">
    <img src="assets/nompics/<%= item.img_id %>.jpg"/>
    <div class="knockout"><div class="perVotes"></div></div>
  </div>
  <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
    <% if(item.crit_pics) { %>
      <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Pick</div>
    <% } %>

    <div class="cardInfo">
      <div class="title" data-item-title="<%= item.Title %>"><%= item.Actor %></div>
      <div class="inTitle"><%= item.Title %></div>
    </div>
  </div>
  </div>
  <% } %>
<% }) %>
</div>


<!--<h2 class="pollHeads">Best Actress Nominees <span class="numVotes"></span></h2>
<div class="catGroup" id="bestActress" data-head-category="Best Actress">
  <% json.oscarnoms.forEach(function(item, i) { %>
    <% if(item.Category == "Best Actress") { %>
    <div class="completeEntry">
    <div class="img">
      <img src="assets/nompics/<%= item.img_id %>.jpg"/>
      <div class="knockout"><div class="perVotes"></div></div>
    </div>
    <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
      <% if(item.crit_pics) { %>
        <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Pick</div>
      <% } %>

      <div class="cardInfo">
        <div class="title" data-item-title="<%= item.Title %>"><%= item.Actor %></div>
        <div class="inTitle"><%= item.Title %></div>
      </div>


    </div>
    </div>
    <% } %>
  <% }) %>
</div>


<h2 class="pollHeads">Best Supporting Actor Nominees <span class="numVotes"></span></h2>
<div class="catGroup" id="bestSActor" data-head-category="Best Supporting Actor">
<% json.oscarnoms.forEach(function(item, i) { %>
  <% if(item.Category == "Best Supporting Actor") { %>
  <div class="completeEntry">
  <div class="img">
    <img src="assets/nompics/<%= item.img_id %>.jpg"/>
    <div class="knockout"><div class="perVotes"></div></div>
  </div>
  <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
    <% if(item.crit_pics) { %>
      <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Pick</div>
    <% } %>

    <div class="cardInfo">
      <div class="title" data-item-title="<%= item.Title %>"><%= item.Actor %></div>
      <div class="inTitle"><%= item.Title %></div>
    </div>
  </div>
  </div>
  <% } %>
<% }) %>
</div>



<h2 class="pollHeads">Best Supporting Actress Nominees <span class="numVotes"></span></h2>
<div class="catGroup" id="bestSActress" data-head-category="Best Supporting Actress">
<% json.oscarnoms.forEach(function(item, i) { %>
  <% if(item.Category == "Best Supporting Actress") { %>
  <div class="completeEntry">
  <div class="img">
    <img src="assets/nompics/<%= item.img_id %>.jpg"/>
    <div class="knockout"><div class="perVotes"></div></div>
  </div>
  <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
    <% if(item.crit_pics) { %>
      <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Pick</div>
    <% } %>

    <div class="cardInfo">
      <div class="title" data-item-title="<%= item.Title %>"><%= item.Actor %></div>
      <div class="inTitle"><%= item.Title %></div>
    </div>
  </div>
  </div>
  <% } %>
<% }) %>
</div>-->



<!-- <h2 class="pollHeads">Best Director Nominees <span class="numVotes"></span></h2>
<div class="catGroup" id="bestDirector" data-head-category="Best Director">
  <% json.oscarnoms.forEach(function(item, i) { %>
    <% if(item.Category == "Best Director") { %>
    <div class="completeEntry">
    <div class="img">
      <img src="assets/nompics/<%= item.img_id %>.jpg"/>
      <div class="knockout"><div class="perVotes"></div></div>
    </div>
    <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
      <% if(item.crit_pics) { %>
        <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Pick</div>
      <% } %>

      <div class="cardInfo">
        <div class="title" data-item-title="<%= item.Title %>"><%= item.Actor %></div>
        <div class="inTitle"><%= item.Title %></div>
      </div>
    </div>
    </div>
    <% } %>
  <% }) %>
</div>  -->
