<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <script src="https://use.fontawesome.com/193ffcc2d7.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Bowlby+One+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <div id="nom-holder">

      <h3 class="graphic-hed">Who do you think will win?</h3>
      <h2 class="pollHeads">Best Supporting Actress Nominees <span class="numVotes"></span></h2>
      <div class="catGroup" id="bestSActress" data-head-category="Best Supporting Actress">
      <% json.oscarnoms.forEach(function(item, i) { %>
        <% if(item.Category == "Best Supporting Actress") { %>
        <div class="completeEntry">
        <div class="img">
          <img src="assets/nompics/<%= item.img_id %>.jpg"/>
          <div class="knockout"><div class="perVotes"></div></div>
        </div>
        <div class="entry" data-id="<%= item.Title %><%= item.Category %><%= item.Actor %>" data-title="<%= item.Title %>" data-category="<%= item.Category %>" data-actor="<%= item.Actor %>">
          <% if(item.crit_pics) { %>
            <div class="crit_pics"><i class="fa fa-star" aria-hidden="true"></i>Our Critic's Prediction</div>
          <% } %>

          <div class="cardInfo">
            <div class="title" data-item-title="<%= item.Title %>"><%= item.Actor %></div>
            <div class="inTitle"><%= item.Title %></div>
          </div>
        </div>
        </div>
        <% } %>
      <% }) %>
      </div>

      </div>


<figcaption>
  <span class="art-credit">Lauren Flannery / The Seattle Times</span>
  <span class="data-source">Voting will be disabled after Feb. 10, 2020</span>
</figcaption>
</responsive-child>



<script src="app.js" async></script>
<% if (json.project.production) { %>
<%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
<%= t.include("partials/_workHere.html") %>
<% } %>
</body>
</html>
